'comment': 'Moonscript Syntax: version 0.1'
'fileTypes': [
  'moon'
]
'firstLineMatch': '\\A#!.*?\\bmoon\\b'
'name': 'Moonscript'
'patterns': [
  {
    'captures':
      '1':
        'name': 'keyword.control.moon'
      '2':
        'name': 'entity.name.function.scope.moon'
      '3':
        'name': 'entity.name.function.moon'
      '4':
        'name': 'punctuation.definition.parameters.begin.moon'
      '5':
        'name': 'variable.parameter.function.moon'
      '6':
        'name': 'punctuation.definition.parameters.end.moon'
  }
  {
    'match': '(?<![\\d.])\\s0x[a-fA-F\\d]+|\\b\\d+(\\.\\d+)?([eE]-?\\d+)?|\\.\\d+([eE]-?\\d+)?'
    'name': 'constant.numeric.moon'
  }
  {
    'begin': '\''
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.moon'
    'end': '\''
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.moon'
    'name': 'string.quoted.single.moon'
    'patterns': [
      {
        'match': '\\\\.'
        'name': 'constant.character.escape.moon'
      }
    ]
  }
  {
    'begin': '"'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.moon'
    'end': '"'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.moon'
    'name': 'string.quoted.double.moon'
    'patterns': [
      {
        'match': '\\\\.'
        'name': 'constant.character.escape.moon'
      }
    ]
  }
  {
    'begin': '(?<=\\.cdef)\\s*(\\[(=*)\\[)'
    'beginCaptures':
      '0':
        'name': 'string.quoted.other.multiline.moon'
      '1':
        'name': 'punctuation.definition.string.begin.moon'
    'contentName': 'meta.embedded.moon'
    'end': '(\\]\\2\\])'
    'endCaptures':
      '0':
        'name': 'string.quoted.other.multiline.moon'
      '1':
        'name': 'punctuation.definition.string.end.moon'
    'patterns': [
      {
        'include': 'source.c'
      }
    ]
  }
  {
    'begin': '(^[ \\t]+)?(?=--)'
    'beginCaptures':
      '1':
        'name': 'punctuation.whitespace.comment.leading.moon'
    'end': '(?!\\G)'
    'patterns': [
      {
        'begin': '--'
        'beginCaptures':
          '0':
            'name': 'punctuation.definition.comment.moon'
        'end': '\\n'
        'name': 'comment.line.double-dash.moon'
      }
    ]
  }
  {
    'match': '\\b(if|then|else|elseif|export|import|from|switch|when|with|using|do|for|in|while|return|local|unless|continue|break)\\b'
    'name': 'keyword.control.moon'
  }
  {
    'match': '(?<![^.]\\.|:)\\b(false|nil|true|_G)\\b|(?<![.])\\.{3}(?!\\.)'
    'name': 'constant.language.moon'
  }
  {
    'match': '(?<![^.]\\.|:)\\b(self)\\b'
    'name': 'variable.language.self.moon'
  }
  {
    'match': '(?<![^.]\\.|:)\\b(assert|collectgarbage|dofile|error|getfenv|getmetatable|ipairs|loadfile|loadstring|module|next|pairs|pcall|print|rawequal|rawget|rawset|require|select|setfenv|setmetatable|tonumber|tostring|type|unpack|xpcall)\\b(?=\\s*(?:[({"\']|\\[\\[))'
    'name': 'support.function.moon'
  }
  {
    'match': '(?<![^.]\\.|:)\\b(coroutine\\.(create|resume|running|status|wrap|yield)|string\\.(byte|char|dump|find|format|gmatch|gsub|len|lower|match|rep|reverse|sub|upper)|table\\.(concat|insert|maxn|remove|sort)|math\\.(abs|acos|asin|atan2?|ceil|cosh?|deg|exp|floor|fmod|frexp|ldexp|log|log10|max|min|modf|pow|rad|random|randomseed|sinh?|sqrt|tanh?)|io\\.(close|flush|input|lines|open|output|popen|read|tmpfile|type|write)|os\\.(clock|date|difftime|execute|exit|getenv|remove|rename|setlocale|time|tmpname)|package\\.(cpath|loaded|loadlib|path|preload|seeall)|debug\\.(debug|[gs]etfenv|[gs]ethook|getinfo|[gs]etlocal|[gs]etmetatable|getregistry|[gs]etupvalue|traceback))\\b(?=\\s*(?:[({"\']|\\[\\[))'
    'name': 'support.function.library.moon'
  }
  {
    'match' : '\\b(\\+|-|%|#|\\*|\\/|\\^|==?|~=|!=|\\\\|:|,|;|\\.|>=?|<=?|(?<!\\.)\\.{2}(?!\\.))\\b'
    'name': 'keyword.operator.moon'
  }
  {
    'match': '\\b([A-Za-z_]\\w*)\\b(?=\\s*(?:[({"\']|\\[\\[))'
    'name': 'support.function.any-method.moon'
  }
  {
    'match': '(?<=[^.]\\.|:)\\b([A-Za-z_]\\w*)'
    'name': 'variable.other.moon'
  }
  {
    'match': '\\+|-|%|#|\\*|\\/|\\^|==?|~=|<=?|>=?|(?<!\\.)\\.{2}(?!\\.)'
    'name': 'keyword.operator.moon'
  }
]
'scopeName': 'source.moon'
